
<div class="containter">
	<div><h4>Want to add your event to this page?</h4></div>
	<button class="btn btn-success"><a href="mailto:devcommohio@gmail.com?&subject=*Events Inquiry:">Email DevCommOhio the details!</a></button>
	<br>
 <div class="row">
 	<br>
		<div class="col-md-4">
			<div id="eventbrite-widget-container-49555874956">
			<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
			<script type="text/javascript">
			    var exampleCallback = function() {
			        console.log('Order complete!');
			    };
			    window.EBWidgets.createWidget({
			        // Required
			        widgetType: 'checkout',
			        eventId: '49555874956',
			        iframeContainerId: 'eventbrite-widget-container-49555874956',
			        // Optional
			        iframeContainerHeight: 50,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
			        onOrderComplete: exampleCallback  // Method called when an order has successfully completed
			    });
			</script>
			</div>
		</div>
		<div class="col-md-4">
			<div id="eventbrite-widget-container-49647357583">

			<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

			<script type="text/javascript">
				var exampleCallback = function() {
				        console.log('Order complete!');
				    };

				window.EBWidgets.createWidget({
				        // Required
				        widgetType: 'checkout',
				        eventId: '49647357583',
				        iframeContainerId: 'eventbrite-widget-container-49647357583',

				        // Optional
				        iframeContainerHeight: 50,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
				        onOrderComplete: exampleCallback  // Method called when an order has successfully completed
				});
			</script>
			</div>
		</div>
		<div class="col-md-4">
			<div id="eventbrite-widget-container-49612962707"></div>

			<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

			<script type="text/javascript">
			    var exampleCallback = function() {
			        console.log('Order complete!');
			    };

			    window.EBWidgets.createWidget({
			        // Required
			        widgetType: 'checkout',
			        eventId: '49612962707',
			        iframeContainerId: 'eventbrite-widget-container-49612962707',

			        // Optional
			        iframeContainerHeight: 425,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
			        onOrderComplete: exampleCallback  // Method called when an order has successfully completed
			    });
				</script>
		</div>
	</div>
 </div>
</div>