<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="well">
                <h1>This is where most recent tags will go</h1>
            </div>
        </div>
        <div class="col-md-6">
            <%= render '/posts/formlink' %>
            <%= link_to 'New Post', new_post_path %>
        </div>
        <div class="col-md-3">
                <iframe  src="https://www.eventbrite.com/calendar-widget?eid=49555874956&showPrivate=1&sig=AGbIMNwSRf7NNygX_0MRQp1uxk5s-nKqaA" height="360" width="235" marginwidth="20" scrolling="yes" allowtransparency="true"></iframe>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6-offset">
        <div class="well", style="text-align: center;">
            <%= link_to 'Return to Top', root_path %>
        </div>
    </div>
</div>


