body {
    background: #ccffdd;
}

.navbar {
    background:  #68a37b;
    color: white;
}

.navbar {
    color: white;
}

.dropdown-menu {
    background: #68a37b;
    color: white;
}
#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.sign-up-link {
    border: 3px solid #cfd7ff;
    padding: 14px 0px;
    margin: 2%;
    display: inline-block;
    text-align: center;
    width: 250px;
    border-radius: 100px;
    color: #003311;
    background-color: #85e085;
}

a:hover {
    background-color: #e5e9f9;
    cursor: pointer;
}

.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand > img {
    height: 100px;
    width: 100px;
    margin-top: -23px;
}

