body {
    background: #ccffdd;
}

.navbar {
    background:  #68a37b;
    color: white;
}

.navbar {
    color: white;
}

.dropdown-menu {
    background: #68a37b;
    color: white;
}
#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.sign-up-link {
    border: 3px solid #cfd7ff;
    padding: 14px 0px;
    margin: 2%;
    display: inline-block;
    text-align: center;
    width: 250px;
    border-radius: 100px;
    color: #003311;
    background-color: #85e085;
}

a:hover {
    background-color: #e5e9f9;
    cursor: pointer;
}

.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand > img {
    height: 100px;
    width: 100px;
    margin-top: -23px;
}

#new-post {
    background: #99efde;
    color: white;
    height: 60px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

.library_source {
    width: 200px; 
    height: 200px;
    background-color: #E37828;
    box-shadow: 2px 2px black;
    padding-top: 10px;
    display: inline-block; 
    margin: 10px;
}

#tag_box {
    width: 200px; 
    height: 500px;
    background-color: white;
}

#newresource {
    font-size: 18px;
    padding: 30px;
}

.glyphicon-plus {
    font-size: 60px;
    margin-top: 40px;
}

.library_source div:hover {
    background-color: #85e085;
}

.library_source:focus .library_source:active {
    text-decoration: none !important; 
}